.DS_Store
Thumbs.db
desktop.ini
Desktop.ini
.idea
.vscode

*.swp
*.exe
*.out
*.app
*.dll
*.p1
*.p2
*.p3
*.pxf
*.pem
*.cache

/bin
/pkg
/vendor
/.cache
*.code-workspace
*.iml

*.log
*.log.*
*.tmp
*.sh

.env
.env.testing
!/.alias.sh
